* {
	box-sizing: border-box;
	scrollbar-color: rgba(0,0,0,.3) rgb(24,37,77);
	scrollbar-width: thin;
}
a {
	color: inherit;
	outline: none;
}
body {
	background-color: rgb(24,37,77);
	color: white;
	cursor: default;
	font-family: Helvetica,"PingFang SC","Microsoft YaHei",sans-serif;
	margin: 0 0 0 calc(100% - 400px);
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	user-select: none;
}
fieldset {
	background-color: rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(255,255,255,.1);
	margin: 20px 0;
	padding: 10px;
}
footer {
	background-color: rgba(0,0,0,.3);
	font-size: 14px;
	margin-top: 20px;
	padding: 13px 25px 15px;
}
footer>* {
	margin: 8px 0;
}
footer a {
	display: block;
	text-decoration: none;
}
footer img {
	margin-bottom: -10px;
	margin-top: -6px;
}
header {
	align-items: center;
	background-image: linear-gradient(45deg,rgb(53,92,183),rgb(24,37,77));
	box-shadow: 0 0 5px black;
	display: flex;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	width: calc(100% - 400px);
}
header>div {
	width: 100%;
}
header.animation {
	animation: start 1.25s;
}
h1 {
	font-size: 24px;
	margin: 20px 0 10px;
	text-transform: uppercase;
}
legend {
	color: white;
	line-height: 1.25;
	margin: 0 auto;
}
option {
	color: gray;
}
p {
	line-height: 24px;
	margin: 10px 0 20px;
}
select {
	-webkit-appearance: none;
	background-color: rgba(255,255,255,.1);
	border: none;
	border-radius: 5px;
	color: white;
	display: none;
	font-family: inherit;
	height: 40px;
	line-height: 40px;
	outline: none;
	padding: 0 20px;
	position: absolute;
	right: 15px;
	text-align-last: center;
	top: 15px;
}
table {
	height: 100%;
	width: 100%;
}
.avatar {
	border-radius: 50%;
	display: block;
	margin: 0 0 0 50%;
	transform: translateX(-50%);
}
.btn,
.list a,
.menu a,
.subtitle {
	cursor: default;
	display: block;
	text-decoration: none;
	transition: background-color .25s;
}
.btn {
	background-color: rgba(255,255,255,.1);
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 5px;
	font-size: inherit;
	margin: 10px calc(50% - 150px);
	padding: 10px 20px;
}
.btn:last-of-type {
	margin-bottom: 0;
}
.btn:focus,
.btn:hover {
	background-color: rgba(255,255,255,.2);
	box-shadow: 0 0 5px rgb(24,37,77);
}
.btn:active {
	background-color: rgba(255,255,255,.3);
}
.description {
	color: rgba(255,255,255,.5);
	font-size: 14px;
}
.email {
	text-decoration: underline;
}
.email::after {
	content: "\0068\0065llo\0040\0079\0061n\0067\0073\0068\0061n\0067z\0068\0065n.\0063om";
	text-decoration: underline;
}
.list a {
	background-color: rgba(0,0,0,.1);
	line-height: 22px;
	padding: 10px 25px;
}
.list a:focus,
.list a:hover,
.menu a:focus,
.menu a:hover {
	background-color: rgb(53,92,183);
}
.list a:active,
.menu a:active {
	background-color: rgba(53,92,183,.5);
}
.list fieldset a {
	background-color: transparent;
	border-radius: 5px;
	padding: 10px 20px;
}
.mask {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.menu {
	animation: popUp .4s;
	background-color: rgb(24,37,77);
	box-shadow: 0 0 5px rgb(24,37,77);
	border-radius: 5px;
	display: none;
	min-width: 125px;
	position: fixed;
	text-align: left;
	transition: all .25s;
}
.menu a {
	line-height: 24px;
	padding: 5px 15px;
	white-space: nowrap;
}
.menu a:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.menu a:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.subtitle {
	background-color: rgba(0,0,0,.3);
	border: 1px dotted transparent;
	line-height: 24px;
	margin-top: 20px;
	padding: 10px 25px;
}
.subtitle:first-of-type {
	margin-top: 0;
}
.subtitle:focus {
	border-color: rgba(255,255,255,.2);
}
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.3);
	border-radius: 10px;
}
@keyframes popUp {
	0% {
		opacity: 0;
		transform: scale(.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes start {
	0% {
		width: 100%;
	}
	100% {
		width: calc(100% - 400px);
	}
}
@media (max-width: 800px) {
	* {
		scrollbar-width: none;
	}
	body {
		border-right: none;
		height: 100%;
		margin: 0!important;
	}
	button {
		margin: 10px 0;
		width: 100%;
	}
	header {
		box-shadow: none;
		height: calc(100% - 46px);
		position: static;
		width: auto;
	}
	header.animation {
		animation: none;
	}
	html {
		height: 100%;
	}
	.avatar {
		height: 100px;
	}
	::-webkit-scrollbar {
		display: none;
	}
}
@supports (text-align-last: center) {
	select {
		display: block;
	}
}

/*
     FILE ARCHIVED ON 05:51:54 Sep 27, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:01:21 Sep 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 115.917
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.079
  cdx.remote: 0.051
  esindex: 0.008
  LoadShardBlock: 80.605 (3)
  PetaboxLoader3.datanode: 50.967 (4)
  load_resource: 834.639
  PetaboxLoader3.resolve: 767.716
*/